///////////////////////////////
// StartUp
spawn-at-startup "gammastep -P -O 5500 -b 0.8:0.8"
// spawn-at-startup "wlr-which-key"


// Inputs
input {
    keyboard {
        xkb {
            layout "us"
        }
        numlock
    }
    touchpad {
        tap
    }
}

// Laptop
output "eDP-1" {
    scale 1.0
}
// Desktop
output "DP-0" {

}

layout {
  gaps 4.0
}

preset-column-widths {
  proportion 1.0
}
focus-ring {
  on;
}
border { 
  on; 
}

// Bindings
binds {
  Mod+Return { spawn "kitty" "-e" "fish"; }
  Mod+Q { quit; } 
}

