/** Global ********************************************/
* {
  all: unset;
}

/** Bar ********************************************/

.bar {
  margin-right: 12px;
  padding-left: 12px;
  padding-right: 12px;

  background-color: #000000;
  color: #000000;
  font-weight: 600;
  min-height: 20px;

  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.active_window {
  color: #f4f4f4;
}

/** Workspaces ********************************************/

.workspace {
  &.focused {
    color: #57ab5a;
  }

  &.active {
    color: #f47067;
  }
}

/** Date ********************************************/
.date {
  color: #aaaaaa;
}

/** System ********************************************/
.iconcpu,
.iconmem,
.iconbright,
.iconbat {
  font-size: 11px;
  font-weight: normal;
}

.iconcpu {
  color: #BF616A;
}

.iconmem {
  color: #A3BE8C;
}

.iconbright {
  color: #EBCB8B;
}

.iconbat {
  color: #88C0D0;
}

.cpu_bar,
.mem_bar,
.bright_bar,
.bat_bar,
scale trough {
  all: unset;
  background-color: #646464;
  border-radius: 30px;
  min-height: 8px;
  min-width: 240px;
}

.cpu_bar,
.mem_bar,
.bright_bar,
.bat_bar,
scale trough highlight {
  all: unset;
  border-radius: 30px;
}

.cpu_bar scale trough highlight {
  background-color: #BF616A;
}

.mem_bar scale trough highlight {
  background-color: #A3BE8C;
}

.bright_bar scale trough highlight {
  background-color: #EBCB8B;
}

.bat_bar scale trough highlight {
  background-color: #88C0D0;
}
