# Width/height of the app in pixels
width = 350  
height = 400

# If set forces usage of basic window instead of Layer Shell wayland protocol
force_window = false

# if unset, renders window centered
# window_offsets = [500, -50] # in format [top_offset_pixels, left_offset_pixels]

# Similar to CSS border-radius for main window, for more details see corner_radius
# for [input_text]
corner_radius = "10"

font = "JetBrainsMono"
font_size = 16

# Color of the app background
# Colors are specified in 0xRRGGBBAA format
bg_color = 0x1a1a1aff
bg_border_color = 0x000000ff
bg_border_width = 1.0

# Color for the fonts
# font_color = 0xf8f8f2ff

# HiDPI scaling factor; default is requested from compositor but
# fractional values are truncated, so one may want to set it explicitly.
# scale = 3

# Terminal emulator to use for apps that require terminal.
# Certain apps like vim might not launch unless specified.
term = "kitty -e"

# TOML sections are scope config values for a related blocks.
# This one for instance is for input field area.
[input_text]
# font = ...
font_color = 0xcdd9e5ff
bg_color = 0x222222ff

# Margin/padding values are specified as in CSS but only in pixels.
# So it's either a single value for all directions
# or two values: the first for top/bottom and the second for left/right
# or finally four values: for top, right, bottom and left directions respectively.
margin = "10" # equivalent to "5 5 5 5"
# padding = "1.7 -4" # equivalent to "1.7 -4 1.7 -4"
padding = "6" # equivalent to "1.7 -4 1.7 -4"

# Section for items in the search results area.
[list_items]

# Theme
# Github dark dimmed
font_color = 0xcdd9e5ff
selected_font_color = 0xb083f0ff
selected_bg_color = 0x222222ff
match_color = 0x6bc46dff

margin = "10"

# If set to true hides the desktop actions
hide_actions = true
action_left_margin = 20

item_spacing = 12
icon_spacing = 1

[icon]
size = 36
theme = "Tela-circle"

