# Smtp(ssl)
:587 {
	reverse_proxy localhost:10587
}

# Imap(ssl)
:993 {
	reverse_proxy localhost:10993
}

# Http
:80 {
	reverse_proxy localhost:10080
}

# Http(ssl)
:443 {
	reverse_proxy localhost:10443
}
