## Alias section 
alias cp='cp -i'
alias df='df -h'
alias free='free -m'
alias kee='keepassxc-cli'

alias gitu='git add . && git commit && git push'

alias ls='eza'
alias lls='eza -aalgh'
alias ll='eza -lgh'
alias tree='eza --tree -algh -L 2'
alias treee='eza --tree -algh'

alias off='boulette "shutdown -h now" --ssh-only --challenge hostname'
alias sus='boulette "systemctl suspend" --ssh-only --challenge hostname'

# SSH
alias sshk='kitten ssh'
## nvim variants 
alias nvik='kitten edit-in-kitty' #over ssh
alias nvi='NVIM_APPNAME=nvchad nvim'
alias nv='NVIM_APPNAME=nvim nvim'

alias neo='fastfetch'
alias one='onefetch'
alias lol="lolcat"

alias speed='speedtest-go'

alias p='pipelight'
alias v='virshle'

# alias clear='clear -x; tput cup (math round "$LINES * 3/4") 0;'

# Ai shortcut
function hey;
  mods -f "$argv"
end
function ho;
  mods -m deepseek-r1 -f "$argv"
end

# Terminal multiplexer
# fish function
function ze;
  zellij attach $argv --force-run-commands;
end
export ze

## llm
## net
alias myip="curl ifconfig.co"
